<%= form_with(url: '/login', local: true) do |form| %>

   <div class="form-group">
    <%= form.label :username %>
    <%= form.text_field :username, placeholder: 'Enter your username here', 
                                   class: 'form-control',
                                   autofocus: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Login', class: 'btn btn-orange w-75' %>
  </div>
<% end %>
