<div class="article-comments">
  <% @article.comments.each do |comment| %>
    <div class='card card-body'>
      <small><strong class="mr-1"><%= comment.user.name %></strong>left a comment 
      <%= distance_of_time_in_words(Time.now, comment.created_at) %> ago</small><br />
      <%= comment.comment %>
    </div>
  <% end %> 
</div>