@media screen and (max-width: 768px) {
  html {
    body {
      .sm-center-text {
        text-align: center;
      }

      .user-activity {
        display: none;
      }

      .p-auth {
        padding: 0;
      }

      .show-page {
        width: 100%;
      }

      .nav {
        .navbar-right {
          .verticle_bar {
            display: none;
          }
        }
      }
    }
  }
}
