@media screen and (max-width: 768px) {
  html {
    body {
      .sm-center-text {
        text-align: center;
      }
    
      .user-activity {
        display: none;
      }
    
      .p-auth {
        padding: 0px;
      }

      .navbar-right {
        verticle_bar {
          display: none;
        }
      }
    
      .show-page {
        width: 100%;
      }
    }
  }
  
}