@media screen and (max-width: 768px) {
  .sm-center-text {
    text-align: center;
  }

  .user-activity {
    display: none;
  }

  .p-auth {
    padding: 0px;
  }

  .verticle_bar {
    display: none;
  }
}