nav {
  font-family: 'Roboto Condensed', sans-serif;

  .logo-section {
    a {
      font-weight: 700;
    }
  }

  .active {
    color: #ff6300;
  }

  .navbar-right {
    position: relative;

    .verticle-bar {
      position: absolute;
      top: 7px;
      left: 60px;
    }
  }
}
