nav {
  .logo-section {
    a {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
    }
  }

  .nav-link {
    font-family: 'Roboto Condensed', sans-serif;
  }

  .navbar-right {
    position: relative;

    .verticle-bar {
      position: absolute;
      top: 7px;
      left: 60px;
    }
  }

  .navbar-nav {
    .nav-item {
      .active {
        color: #ff6300;
      }
    }
  }
}
