nav {
  .logo-section {
    a {
      font-family: 'Roboto', sans-serif;
    }
  }

  .navbar-right {
    position: relative;
  
    .verticle-bar {
      position: absolute;
      top: 7px;
      right: 95px;
    }
  }  
}