<div class="container-fluid fixed-bottom">
  <div class="row align-items-center">
    <div class="col-12 col-md-3 sm-center-text">
      <%= link_to image_tag("footer-logo.png", class: 'logo'), root_path %>
    </div>
    <div class="col-12 col-md-6 sm-center-text">
      <span class="text-orange mr-1 pl-5">Privacy Policy.</span>
      <span class="text-white">Copyright 2020 All Rights Reserved</span>
    </div>
    <div class="col-12 col-md-3 sm-center-text text-right">
      <span class="navbar-text text-white mr-1">Connect with us:</span>
      <span class="social-links">
        <a class="social-links-item text-dark" href="#">
          <i class="fab fa-facebook-f fa-1x"></i>
        </a>
        <a class="social-links-item text-dark" href="#">
          <i class="fab fa-twitter fa-1x"></i>
        </a>
        <a class="social-links-item text-dark href="#"">
          <i class="fab fa-instagram fa-1x"></i>
        </a>
      </span>
    </div>
  </div>
</div>
