<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-12 col-md-3">
      <%= link_to 'Seasons', root_path, class: "" %>
    </div>
    <div class="col-12 col-md-6 text-center">
      <span class="text-orange">privacy Policy</span>
      <span class="text-white">Copyright 2020. All Rights Reserved</span>
    </div>
    <div class="col-12 col-md-3 d-md-flex justify-content-end">
      <span class="text-white mr-2">Connect with us:</span>
      <i class="fa fas-twitter"></i>
      <i class="fa fas-facebook"></i>
      <i class="fa fas-instagram"></i>
    </div>
  </div>
</div>

<nav class="navbar border" id="footer-section">
  <%= link_to 'Seasons', root_path, class: 'navbar-brand text-white' %>
  <div class="ml-auto text-white">
    <span class="navbar-text text-orange mr-1">Privacy Policy.</span>
    <span class= "navbar-text">Copyright 2020, All Rights Reserved</span>
  </div>
  <div class="navbar-right ml-auto">
    <span class="navbar-text mr-2 text-white">Connect with us:</span>
    <span class="social-links">
      <a href="#" class="social-link-item text-dark">
        <i class="fab fa-facebook-f fa-1x"></i>
      </a>
      <a href="#" class="social-link-item text-dark">
        <i class="fab fa-twitter fa-1x"></i>
      </a>
      <a href="#" class="social-link-item text-dark">
        <i class="fab fa-instagram fa-1x"></i>
      </a>
    </span>
  </div>
</nav>
