  
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-orange" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong><%= current_user.name %></strong></a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown04">
    <a class="dropdown-item" href="#">
      <i class="fas fa-user mr-1" aria-hidden="true"></i>
      Profile
    </a>
    <a class="dropdown-item" href="#">
      <i class="fas fa-tasks mr-1" aria-hidden="true"></i>
      Activity
    </a>
    <%= link_to "Logout", logout_path, method: :delete, class: 'dropdown-item text-orange' %>
  </div>
</li>
