 
<li class="nav-item">
  <%= link_to 'Login', login_path, class: 'nav-link text-uppercase' %>
</li>
<span class="verticle-bar text-muted">|</span>
<li class="nav-item">
  <%= link_to 'Register', sign_up_path, class: 'nav-link text-uppercase' %>
</li>
<li>
  <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
</li>
