<section class="category-page container-fluid">
  <div class="row">
    <%= render 'categories/index_manager' %>   
  </div>
</section>
<footer class="border">
  <%= render 'shared/footer'%>
</footer>
