<header>
  <%= render 'shared/nav' %>
</header>
<section class="container-fluid create-category w-50 text-white">
  <h1 class='u-white text-orange my-2'>Create New category</h1>
  <%= render 'categories/form' %>
</section>
