<section class="category-articles-page container-fluid">
  <div class="row">
    <% @sorted_by_creation_articles.each.with_index do |article, index| %>
      <% if index.odd? %>
        <%= render 'categories/odd_card', article: article %>
      <% else %>
        <%= render 'categories/even_card', article: article %>
      <% end %>
    <% end %>
  </div>
</section>
 <footer class="border">
    <%= render 'shared/footer' %>
  </footer>
