<section class="category-articles-page container-fluid">
  <%= category_display(@category) %>
</section>
<%= link_to root_path, class: 'w-100 mx-auto' do %>
  <strong><i class='fa fa-home text-orange'></i></strong>
  Home
<% end %>
<footer class="border">
  <%= render 'shared/footer' %>
</footer>
